body {
  margin: 0;
  padding: 0;
}
.layout-wrapper {
  display: flex;
  min-height: 100vh;
}
.navbar {
  width: 250px;
  background-color: #343a40;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  flex-shrink: 0;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}
.navbar .navbar-brand {
  margin-bottom: 20px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  text-decoration: none;
}

.main-content {
  flex-grow: 1;
  margin-left: 250px;
  padding: 20px;
}

/* Screens */
@media (max-width: 768px) {
  .navbar {
    width: 100%;
    height: auto;
  }

  .layout-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .navbar {
    width: 200px;
  }

  .main-content {
    margin-left: 200px;
  }
}
