/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
 /* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.nav-tabs .nav-link,
.calendar {
  color: black;
}
button {
  padding: 0.5rem;
  /* background: #ff7e5f; */
  background:#0d6efd;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}
button:hover {
  background: #b5a69a;
}
.page-not-found {
  text-align: center;
  padding: 50px;
}

.page-not-found h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.page-not-found p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.page-not-found .back-to-home {
  text-decoration: none;
  color: #007bff;
  font-size: 1.2em;
  transition: color 0.3s;
}

.page-not-found .back-to-home:hover {
  color: #0056b3;
}


