/* .landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
  }
  
  .form-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .auth-container h2 {
    margin-bottom: 1rem;
    color: #333;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .auth-container input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .auth-container button {
    padding: 0.5rem;
    background: #ff7e5f;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .auth-container button:hover {
    background: #feb47b;
  }
  
  .auth-container p {
    margin-top: 1rem;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
   */
   .landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #0b0932, #b5a69a);
  }
  
  .form-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .auth-container h2 {
    margin-bottom: 1rem;
    color: #333;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .auth-container input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* .auth-container button {
    padding: 0.5rem;
    background: #ff7e5f;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
  } */
  
  /* .auth-container button:hover {
    background: #feb47b;
  } */
  
  .auth-container p {
    margin-top: 1rem;
    color: #007bff;
    cursor: pointer; /* Add cursor pointer for links */
    text-decoration: underline;
  }
  